/*plughin*/
@media screen and (max-width: 992px) {

  .slider{
    margin-top: 0px;
  }
  .header{
  min-height:200px;
}
h1{
  font-size: 32px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'ralewaylight';
  font-weight: 400px;
}
h2{
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600px;
}
h3{
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: 600px;
}
h4{
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
h5{
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
h6{
  font-size: 12px;
  line-height: 21px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
p{
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  /*font-family: 'ralewaylight';*/
  font-weight: normal;
}
p.pad{
  padding: 0px 150px;
}
.pad-top{
  padding-top: 10px;
}
.pad-top-30{
  padding-top: 10px;
}
.m-top-30{
  margin-top: 10px;
}
.carousel-inner .item figure .fig-2 {  
  display: none; 
}
/*#service .service figure{
  min-height: 350px;
}*/

#about .content h3{
  padding-top: 20px;
}
#featur .content .icon {
  width: 60px;
  height: 60px;  
}
#featur .content .icon .fa {
  font-size: 30px; 
  line-height: 60px;  
}
#featur .content .col-xs-9{
  padding: 0;
}
#featur .content h5 {  
  line-height: 100%;
  margin-bottom: 8px;
}
#featur .content p {
  font-size: 12px; 
  line-height: 150%;  
}
#portfolio .content ul li {
  display: inline-block;
  height: 50px;
  padding: 0px 15px;
  border-top: .1px solid #35F293;
  border-bottom: .1px solid #1BC16E;
  display: block;
}
header #nav #myNavbar ul {  
  text-align: left;
  float: left;
  width: 100%;
  /*background: rgba(255, 255, 255, .5);*/
}
header #nav #myNavbar ul li {  
  display: block;  
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
header{
  height: auto;
}
.carousel-inner .item{
  width: 100%;
  height: auto;  
}
}